<html>
    <head>
        <script type="text/javascript">
            // The window.vuplex object gets created when the page starts loading,
            // so we double-check that it exists before using it here.
            // You can skip this step if you're sending a message after the page has loaded.
            if (window.vuplex) {
                // The window.vuplex object already exists, so go ahead and send the message.
                sendMessageToCSharp();
            } else {
                // The window.vuplex object hasn't been initialized yet because the page is still
                // loading, so add an event listener to send the message once it's initialized.
                window.addEventListener('vuplexready', sendMessageToCSharp);
            }

            function sendMessageToCSharp() {
                // This object passed to postMessage() automatically gets serialized as JSON
                // and is emitted via the C# MessageEmitted event. This API mimics the window.postMessage API.
                window.vuplex.postMessage({ "token": "<%= token %>" });
            }
        </script>
    </head>
    <body>
        You can close this window.
    </body>
</html>